# Snakemake and showyourwork temporaries
**/.snakemake
**/.showyourwork*

# Showyourwork output files
/*.pdf
report.html
arxiv.tar.gz

# Figure output
src/tex/figures/*

# Miscellaneous
__pycache__
*.synctex.gz

.env
.DS_Store
.vscode/*
src/tex/.DS_Store
src/tex/.DS_Store
